<h1 class="text-5xl pl-4 mb-4 font-bold uppercase">New Task</h1>
<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="container mx-auto px-4">
  <h2 class="text-2xl mb-4">1. Trigger</h2>
  <div class="flex mb-12 content-start flex-wrap justify-start -m-2">
    <div class="w-1/6 p-2 ">
      <div class="min-h-task-item shadow-task-item py-4 rounded-lg border-black border-2 bg-white flex justify-center flex-col text-center">
        <h3>Perform Now</h3>
      </div>
    </div>
    <div class="w-1/6 p-2 ">
      <div class="min-h-task-item shadow-task-item py-4 rounded-lg border-black border-2 bg-white flex justify-center flex-col text-center">
        <h3>Schedule</br>Date/Time</h3>
      </div>
    </div>
  </div>

  <h2 class="text-2xl mb-4">2. Item(s)</h2>
  <div class="flex mb-12 content-start flex-wrap justify-start -m-2">
    <div class="w-1/6 p-2 ">
      <div class="min-h-task-item shadow-task-item py-4 rounded-lg border-black border-2 bg-white flex justify-center flex-col text-center">
        <h3>Products</h3>
      </div>
    </div>
    <div class="w-1/6 p-2 ">
      <div class="min-h-task-item shadow-task-item py-4 rounded-lg border-black border-2 bg-white flex justify-center flex-col text-center">
        <h3>Collections</h3>
      </div>
    </div>
    <div class="w-1/6 p-2 ">
      <div class="min-h-task-item shadow-task-item py-4 rounded-lg border-black border-2 bg-white flex justify-center flex-col text-center">
        <h3>Site Elements</h3>
      </div>
    </div>
  </div>

  <h2 class="text-2xl mb-4">3. Action</h2>
  <div class="flex mb-12 content-start flex-wrap justify-start -m-2">
    <div class="w-1/6 p-2 ">
      <div class="min-h-task-item shadow-task-item py-4 rounded-lg border-black border-2 bg-white flex justify-center flex-col text-center">
        <h3>Change Name</h3>
      </div>
    </div>
    <div class="w-1/6 p-2 ">
      <div class="min-h-task-item shadow-task-item py-4 rounded-lg border-black border-2 bg-white flex justify-center flex-col text-center">
        <h3>Change Price</h3>
      </div>
    </div>
    <div class="w-1/6 p-2 ">
      <div class="min-h-task-item shadow-task-item py-4 rounded-lg border-black border-2 bg-white flex justify-center flex-col text-center">
        <h3>Add/Remove Tag</h3>
      </div>
    </div>
    <div class="w-1/6 p-2 ">
      <div class="min-h-task-item shadow-task-item py-4 rounded-lg border-black border-2 bg-white flex justify-center flex-col text-center">
        <h3>Add to</br>Collection</h3>
      </div>
    </div>
    <div class="w-1/6 p-2 ">
      <div class="min-h-task-item shadow-task-item py-4 rounded-lg border-black border-2 bg-white flex justify-center flex-col text-center">
        <h3>Adjust Inventory</h3>
      </div>
    </div>
    <div class="w-1/6 p-2 ">
      <div class="min-h-task-item shadow-task-item py-4 rounded-lg border-black border-2 bg-white flex justify-center flex-col text-center">
        <h3>Add/Remove Tag</h3>
      </div>
    </div>
    <div class="w-1/6 p-2 ">
      <div class="min-h-task-item shadow-task-item py-4 rounded-lg border-black border-2 bg-white flex justify-center flex-col text-center">
        <h3>Add to</br>Collection</h3>
      </div>
    </div>

  </div>





  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :object_type %>
    <%= form.text_field :object_type %>
  </div>

  <div class="field">
    <%= form.label :object_id %>
    <%= form.text_field :object_id %>
  </div>

  <div class="field">
    <%= form.label :instructions %>
    <%= form.text_field :instructions %>
  </div>

  <div class="field">
    <%= form.label :instruction_value %>
    <%= form.text_field :instruction_value %>
  </div>

  <div class="field">
    <%= form.label :execute_on %>
    <%= form.datetime_select :execute_on %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

</div>
